.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  background-color: #c5fcf6;
  margin-left: 10%;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
}
.ord {
  width: 100%;
  height: auto;
  padding: 1%;
}
.pic {
  margin-left: 0.6%;
  float: left;
  position: relative;
  height: 100px;
  width: 100px;
  padding: 0.5%;
}
.butn {
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  transition-duration: 0.4s;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* background-color: rgb(8, 180, 248); */
}
.butn:hover {
  background-color: #0c08f5;
  color: white;
}
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
